.header-text {
    text-align: center;
}

h2 {
    font-family: Arial;
}

.green-background {
    background-color: green;
    color: white;
}

.strike {
    text-decoration: line-through;
}

.cyan {
    color: cyan;
} 